.wrapper-header {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.app-logo {
    width: 160px;
}

.links-header a{
    font-size: 20px;
    color: #fff;
    text-decoration: none;
    margin: 0 20px;
}
