.footer-wrapper {
    position : fixed;
    bottom : 0;
    min-width: 100%;
   
}

.footer {
    max-width: 100%;
     height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
    background-color: #001E3C;
  
}

.copyright {
    color: #fff;
}
