.footer-wrapper {
    position : fixed;
    bottom : 0;
    width: 100%;
}

.footer {
    display: flex;    
    justify-content: space-around;
    align-items: center;
    height: 100px;
    background-color: #001E3C;
  
}

.copyright {
    color: #fff;
}
