p {
    margin-top: 0;
}

span {
    font-weight: 700;
}

.card-wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 30px;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;    
    width: 15vw;
    border: 2px solid #007FFF;
    border-radius: 4px;
    margin: 0 15px 40px 0;
    padding: 15px;
}

.last-description {
    margin-bottom: 40px;
}